// mobile portrait (320x480) 
@include mq($from: mobile) {
  .container-fluid-custom {
    padding: 0px 2% 0 2%; /* trbl */
    background-color: green;
  }
}

// *tablet landscape (1024x768)
@include mq($from: wide) {
  .container-fluid-custom {
    padding: 0px 6% 0 6%; /* trbl */
    background-color: #ccc;
  }
}

.top-margin--10 {
  margin-top: 10px;
}

// for adding paddings in col-*s
.padd10 {
  padding: 10px !important; 
}

.mr {
  margin: 10px;
  background-color: #666;
}